<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    
    <div class="container container-md">
        <div id="alert_box" class="collapse">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div id="alert" class="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <h1>Test tree app</h1></div></div>
        <div class="row">
            <div class="leftpan col">
                <div id="left_tree" class="border overflow-auto" style="height: 260px"></div>
                <div class="form">
                    <div class="row">
                        <div class="col-auto my-2">
                            <button class="btn btn-danger" id="delete_button">Del</button>
                        </div>
                        <div class="col-auto my-2">
                            <button class="btn btn-primary" id="edit_button">Edit</button>
                        </div>
                        <div class="col-auto my-2">  
                            <input id="edit_data" class="form-control collapse" type="text" placeholder="New node name"/>
                        </div>
                    </div>
                </div>
                <div class="px-2 px-3 border">
                    <input id="input_data" class="form-control px-2 my-2" type="text" placeholder="New node name"/>
                    <button class="btn btn-primary my-2" id="add_button">Add</button>
                </div>
                <button class="btn btn-success my-2" id="flush_button">Flush</button>
                <button class="btn btn-primary my-2 mx-2" id="reset_button">Reset</button>
            </div>
            <div class="rightpan col">
                <div id="right_tree" class="border overflow-auto" style="height: 260px"></div>
                <div class="rightbtns">
                    <button class="btn btn-primary my-2 " id="move_button">&lt;&lt; Move</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        var api_cache_full_tree_url = "{{ url_for('api.cache_tree_full')}}"
        var api_main_tree_url = "{{ url_for('api.main_tree')}}"
        var api_move_node_url = "{{ url_for('api.move_node')}}"
        var api_delete_node_url = "{{ url_for('api.delete_node')}}"
        var api_add_node_url = "{{ url_for('api.add_node')}}"
        var api_update_node_url = "{{ url_for('api.update_node')}}"
        var api_flush_url = "{{ url_for('api.flush')}}"
        var api_reset_url = "{{ url_for('api.reset')}}"
    </script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
